@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Honk', sans-serif;
    background-color: #081b31;
    color: white;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
}

.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    transform: scale(1.1);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.score-board {
    text-align: center;
}

.score {
    font-size: 3rem;
}

.computer-choice {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

.msg-container {
    text-align: center;
    margin-top: 2rem;
}

#msg {
    font-size: 3rem;
    font-weight: bold;
}
